MONGODB_URI=mongodb://melodurai_db_user:Bobbystudio123@ac-tyqbq0d-shard-00-00.ueeuz5s.mongodb.net:27017,ac-tyqbq0d-shard-00-01.ueeuz5s.mongodb.net:27017,ac-tyqbq0d-shard-00-02.ueeuz5s.mongodb.net:27017/bobbymedia?ssl=true&replicaSet=atlas-5p4r0j-shard-0&authSource=admin&retryWrites=true&w=majority
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
JWT_SECRET=change_this_secret_key
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/bobbymedia_photostudio?igsh=ZzQ0cjNvbGN4eWxp&utm_source=qr
NEXT_PUBLIC_MAP_URL=https://maps.app.goo.gl/KLw5zp4TURT4ooDC7?g_st=ic
NEXT_PUBLIC_WHATSAPP_NUMBER=918148645508
NEXT_PUBLIC_PHONE_NUMBER=+918148645508
