MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/bobby_media?retryWrites=true&w=majority
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
JWT_SECRET=change_this_secret_key
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/bobbymedia_photostudio?igsh=ZzQ0cjNvbGN4eWxp&utm_source=qr
NEXT_PUBLIC_MAP_URL=https://maps.app.goo.gl/KLw5zp4TURT4ooDC7?g_st=ic
NEXT_PUBLIC_WHATSAPP_NUMBER=918148645508
NEXT_PUBLIC_PHONE_NUMBER=+918148645508
